@model CECS475LabAssignment8.Models.Professor

<article class="blog-post">
    <h1>@Model.Name</h1>
    <div class="details">
        Posted<span>@Model.Name</span> by <span>@Model.ProfessorID</span>
    </div>
    <div class="content">
        @Model.Name
    </div>
</article>